/* General Reset */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.container {
  text-align: center;
}
.container p {
  font-size: 20px;
  color: var(--footer-text-color);
}
.container p .logo {
  display: inline-block;
  font-family: "caveat", cursive;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
