.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-left: 45px;
  margin-right: 45px;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.skillGrid {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.skillBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--skill-box-bg, #f9f9f9);

  border-radius: 8px;
  padding: 35px;
  text-align: center;
  transition: transform 50ms ease-in-out; /* Smooth transition for scaling */
}

.skillGrid .skillBox:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.skillBox p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color, #000);
  margin: 30px auto;
}

/* Light mode styles */
.lightBox {
  background-color: #fff;
}

.lightIcon {
  color: #0987f2; /* Light theme icon color */
}

.lightText {
  color: #333; /* Light theme text color */
}

/* Dark Theme */
.darkBox {
  background-color: #222222;
}

.darkIcon {
  color: #fff; /* Dark theme icon color */
}

.darkText {
  color: #fff; /* Dark theme text color */
}
@media (max-width: 599px) {
  .skillGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 16px; /* Padding only on left and right */
    gap: 12px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .skillGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .skillGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
